output
code/gt_summarytools.R
data/global_trade
code/analysis_report.Rmd
code/analysis_report.pdf
data/WUP2018-F08-Total_Growth_Rate.xls
code/23_Population.Rmd
code/_extensions/
code/analysis_quarto.pdf
code/backup_html/
code/backup_pdf/
code/worldmap.png
code/worldmap_modified.svg
code/pct_change_yearwise.png
code/test.svg
code/worldmap_1.png
code/worldmap_1.svg